doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-type', content='text/html; charset=UTF-8')
    title Streetlights Data Administration
    link(rel='shortcut icon', type='image/ico', href='http://www.datatables.net/media/images/favicon.ico')
    link(rel='alternate', type='application/rss+xml', title='RSS 2.0', href='http://www.datatables.net/rss.xml')
    link(rel='stylesheet', href='stylesheets/demo_page.css')
    link(rel='stylesheet', href='stylesheets/chosen.css')
    link(rel='stylesheet', href='stylesheets/demo_table.css', type='text/css', media='screen')
    link(rel='stylesheet', href='stylesheets/demo_table_jui.css', type='text/css', media='screen')
    link(rel='stylesheet', href='stylesheets/jquery-ui.css', type='text/css', media='screen')
    script(type='text/javascript', src='javascripts/complete.js')
    script(src='javascripts/jquery.js', type='text/javascript')    
    script(src='javascripts/jquery-ui.js', type='text/javascript')
    script(src='javascripts/jquery.mask.js', type='text/javascript')
    script(type='text/javascript', src='javascripts/chosen.jquery.js')
    script(src='javascripts/jquery.dataTables.js', type='text/javascript')   
    script(src='javascripts/jquery.jeditable.js', type='text/javascript')    
    script(src='javascripts/jquery.validate.js', type='text/javascript')
    script(type='text/javascript', src='javascripts/jquery.dataTables.editable_custom.js') 
    script(src='javascripts/StreetLightsDataTable.js', type='text/javascript')        
    script(type='text/javascript', src='http://www.parsecdn.com/js/parse-1.4.2.min.js')
    script(type='text/javascript', src='javascripts/jquery.wysiwyg.js')
    script(type='text/javascript', class='init')
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='stylesheets/reset.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    title Streetlights Data Administration
    // CSS
    // Reset Stylesheet
    link(rel='stylesheet', href='stylesheets/reset.css', type='text/css', media='screen')
    // Main Stylesheet
    link(rel='stylesheet', href='stylesheets/style.css', type='text/css', media='screen')
    // Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid
    link(rel='stylesheet', href='stylesheets/invalid.css', type='text/css', media='screen')
    //
      Colour Schemes
      Default colour scheme is green. Uncomment prefered stylesheet to use it.
      <link rel="stylesheet" href="stylesheets/blue.css" type="text/css" media="screen" />
      <link rel="stylesheet" href="stylesheets/red.css" type="text/css" media="screen" />
    // Internet Explorer Fixes Stylesheet
    //if lte IE 7
      link(rel='stylesheet', href='stylesheets/ie.css', type='text/css', media='screen')
    // Javascripts
    // jQuery Configuration
    script(type='text/javascript', src='javascripts/simpla.jquery.configuration.js')
    // Facebox jQuery Plugin
    script(type='text/javascript', src='javascripts/facebox.js')
    // jQuery WYSIWYG Plugin    
    // Internet Explorer .png-fix
    //if IE 6
      script(type='text/javascript', src='javascripts/DD_belatedPNG_0.0.7a.js')
      script(type='text/javascript').
        DD_belatedPNG.fix('.png_bg, img, li');
  body
    #body-wrapper
      // Wrapper for the radial gradient background
      #sidebar
        #sidebar-wrapper
          // Sidebar with logo and menu
          h1#sidebar-title
            a(href='#') Streetlights Data Administration
          // Logo (221px wide)
          // Sidebar Profile links
          #profile-links
            | Hello, 
            a(href='#', title='Edit your profile') John Doe
            | , you have 
            a(href='#messages', rel='modal', title='3 Messages') 3 Messages
            br
            br
            a(href='#', title='View the Site') View the Site
            |  
            a(href='#', title='Sign Out') Sign Out
          ul#main-nav
            // Accordion Menu            
            li
              a.nav-top-item.current(href='#')
                // Add the class "current" to current menu item
                | Music
              ul
                li
                  a#viewCredit(href='#creditdiv') Credit
                li
                  a#viewMediaGroup(href='#mediagroupdiv') Media Groups
                // Add class "current" to sub menu items also
                li
                  a#viewMediaItem.current(href='#mediaitemdiv') Media Items
          // End #main-nav
      // End #sidebar
      #main-content
        // Main Content Section with everything
        noscript
          // Show a notification if the user has disabled javascript
          .notification.error.png_bg
            div
              | Javascript is disabled or is not supported by your browser. Please 
              a(href='http://browsehappy.com/', title='Upgrade to a better browser') upgrade
              |  your browser or 
              a(href='http://www.google.com/support/bin/answer.py?answer=23852', title='Enable Javascript in your browser') enable
              |  Javascript to navigate the interface properly.
        // Page Head
        h2 Welcome Streetlights Admin
        #mediGroupButtons(style='display:none')
          ul.shortcut-buttons-set
            // Replace the icons URL's with your own
            li
              a#saveMediaGroup.shortcut-button
                  img(src='resources/images/icons/path-to-icon.png', alt='icon')
                  br
                  | 					Save Album Data
            li
              a#cancelMediaGroup.shortcut-button
                span
                  img#cancelMediaGroup(src='resources/images/icons/path-to-icon.png', alt='icon')
                  br
                  | 					Cancel
        .clear
        // End .clear
        .content-box
          // Start Content Box
          .content-box-content
            #mediaitemdiv.tab-content.default-tab
              // This is the target div. id must match the href of this div's tab
              div(style='margin:10px 0')
                  #fw_container
                      #fw_content
                        .full_width
                          form#formAddMediaItem(style='width:600px;min-width:600px')
                            label Name
                            br
                            input#name.required(type='text', name='name', rel='0')
                            br
                            label(for='duration') Duration (HH:MM:SS)    
                            br
                            input#duration.required(type='text', name='duration', rel='1')
                            br
                            label(for='contentURL') contentURL          
                            br
                            input#contentURL.required(type='text', name='contentURL', rel='2')
                            br
                            label(for='mediaitemartist') Media Item Artist
                            br
                            select#mediaitemartist(name='mediaitemartist', rel='3')
                          form#formEditMediaItem(style='width:600px;min-width:600px')
                            label(for='name') Name
                            br
                            input#nameEdit.required(type='text', name='nameEdit', rel='0')
                            br
                            label(for='durationEdit') Duration (HH:MM:SS)
                            br
                            input#durationEdit.required(type='text', name='durationEdit', rel='1')
                            br
                            label(for='contentURLEdit') contentURL
                            br
                            input#contentURLEdit.required(type='text', name='contentURLEdit', rel='2')
                            br
                            label(for='artistEdit') Media Item Artist
                            br
                            select#artistEdit(name='artistEdit', data-placeholder="Type 'C' to view", style='width:200px;', tabindex='11', rel='3')
                            input#mediaItemEditId(type='hidden', name='mediaItemEditId')
                          <button id="btnAddMediaItem"></button>
                          <button id="btnEditMediaItem"></button>
                          <button id="btnDeleteMediaItem"></button>                          
                          table#mediaitem.display(cellpadding='0', cellspacing='0', border='0')
                            thead
                              tr
                                th name
                                th duration (HH:MM:SS)
                                th contentURL
                                th artist
                            tfoot
                              tr
                                th name
                                th duration (HH:MM:SS)
                                th contentURL
                                th artist
            // End #mediaitemdiv
            #creditdiv.tab-content
              // This is the target div. id must match the href of this div's tab
              div(style='margin:10px 0')
                  #fw_container
                      #fw_content
                        .full_width
                          form#formAddCredit(style='width:600px;min-width:600px')
                            label(for='creditNameAdd') Name
                            br
                            input#creditNameAdd.required(type='text', name='creditNameAdd', rel='0')
                          form#formEditCredit(style='width:600px;min-width:600px')
                            label(for='creditNameEdit') Name
                            br
                            input#creditNameEdit.required(type='text', name='creditNameEdit', rel='0')
                            input#creditEditId(type='hidden', name='creditEditId') 
                          <button id="btnAddCredit"></button>                          
                          <button id="btnEditCredit"></button>   
                          <button id="btnDeleteCredit"></button>
                          table#credit.display(cellpadding='0', cellspacing='0', border='0')
                            thead
                              tr
                                th name
                            tfoot
                              tr
                                th name
                // End .clear
            // End #creditdiv
            #mediagroupdiv.tab-content
              // This is the target div. id must match the href of this div's tab
              div(style='margin:10px 0')
                  #fw_container
                      #fw_content
                        .full_width
                          <button id="btnAddMediaGroup"></button>
                          <button id="btnEditMediaGroup"></button>
                          <button id="btnDeleteMediaGroup"></button>
                          table#mediagroup.display(cellpadding='0', cellspacing='0', border='0', width='100%')
                            thead
                              tr
                                th title
                                th detail
                                th imageURL
                                th artist
                            tfoot
                              tr
                                th title
                                th detail
                                th imageURL
                                th artist
                // End .clear
            // End #mediagroupdiv
            #mediagroupeditadddiv.tab-content
              // This is the target div. id must match the href of this div's tab
              div(style='margin:10px 0')
                  #fw_container
                      #fw_content
                        .full_width
                          form#formAddMediaGroup(style='width:600px;min-width:600px')
                            label(for='mediaGroupTitleAdd') Title
                            br
                            input#mediaGroupTitleAdd.required(type='text', name='mediaGroupTitleAdd', rel='0')
                            br
                            label(for='mediaGroupDetailAdd') Detail
                            br
                            input#mediaGroupDetailAdd(type='text', name='mediaGroupDetailAdd', rel='1')
                            br
                            label(for='mediaGroupImageURLAdd') ImageURL
                            br
                            input#mediaGroupImageURLAdd(type='text', name='mediaGroupImageURLAdd', rel='2')
                            br
                            label(for='mediaGroupArtistAdd') Group Artist
                            br
                            select#mediaGroupArtistAdd(name='mediaGroupArtistAdd', data-placeholder="Type 'C' to view", style='width:200px;', tabindex='11', rel='3')
                          form#formEditMediaGroup(style='width:100%;')
                            label(for='mediaGroupTitleEdit') Title
                            br
                            input#mediaGroupTitleEdit.required(type='text', name='mediaGroupTitleEdit', rel='0')
                            br
                            label(for='mediaGroupDetailEdit') Detail
                            br
                            input#mediaGroupDetailEdit(type='text', name='mediaGroupDetailEdit', rel='1')
                            br
                            label(for='mediaGroupImageURLEdit') ImageURL
                            br
                            input#mediaGroupImageURLEdit(type='text', name='mediaGroupImageURLEdit', rel='2')
                            br
                            label(for='mediaGroupArtistEdit') Media Group Artist
                            br
                            select#mediaGroupArtistEdit(name='mediaGroupArtistEdit', data-placeholder="Type 'C' to view", style='width:200px;', tabindex='11', rel='3')
                            input#mediaGroupId(type='hidden', name='mediaGroupId')
                          form#formAddMediaGroupItem(style='width:600px;min-width:600px')
                            label(for='mediaGroupItemNameAdd') Name
                            br
                            select#mediaGroupItemNameAdd(name='mediaGroupItemNameAdd', data-placeholder="Type 'C' to view", style='width:200px;', tabindex='11', rel='0')                            
                            br
                            label(for='mediaGroupItemDurationAdd') Duration (HH:MM:SS)
                            br
                            input#mediaGroupItemDurationAdd(type='text', name='mediaGroupItemDurationAdd', rel='1', readonly='')
                            br
                            label(for='mediaGroupItemContentURLAdd') contentURL
                            br
                            input#mediaGroupItemContentURLAdd(type='text', name='mediaGroupItemContentURLAdd', rel='2', readonly='')
                            br
                            label(for='mediaGroupItemArtistAdd') Media Group Item Artist
                            br
                            input#mediaGroupItemArtistAdd(type='text', name='mediaGroupItemArtistAdd', rel='3', readonly='')                            
                            input#mediaGroupItemId(type='hidden', name='mediaGroupItemId')
                            input#mediaGroupId(type='hidden', name='mediaGroupId')
                          #mediaGroupItemTableDiv(style='display:none')
                            <button id="btnAddMediaGroupItem"></button>
                            <button id="btnDeleteMediaGroupItem"></button> 
                            table#mediagroupitem(cellpadding='0', cellspacing='0', border='0')
                              thead
                                tr
                                  th name
                                  th duration (HH:MM:SS)
                                  th contentURL
                                  th artist
                              tfoot
                                tr
                                  th name
                                  th duration (HH:MM:SS)
                                  th contentURL
                                  th artist                                
                // End .clear
            // End #mediagroupdiv
        #footer
          small
            | © Copyright 2009 Simpla Admin | Powered by 
            a(href='http://themeforest.net/item/simpla-admin-flexible-user-friendly-admin-skin/46073') Simpla Admin
            |  
            a(href='#') Top
        // End #footer
      // End #main-content